body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#water{
    position: absolute;
    bottom: 0;
    background-color: lightblue;
    width: 100%;
    height: 50%;
}

#fishing-rod{
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 25%;
    height: 0;
    width: 0;
    border: 1px solid black;
    border-width: 0 0 3px 100px;
    transform: rotate(-30deg); /* default position is straight up */
    transform-origin: 0 100%; /* sets the origin of transformation to the bottom left corner */
}
