body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100vh; /* Sets the height to 100% of the viewport height */
}
#roundButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Ensures the button appears above the Phaser canvas */
}


