body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-area {
    position: relative;
    width: 100%;
    height: 100%;
}
#button-area{
    background-color: lightgreen;
}
#reel-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2D9CDB; /* Nice blue shade */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reel-button:hover {
    background-color: #2C8CBB; /* Slightly darker shade when hovered */
}

#reel-button:active {
    background-color: #2A7CA9; /* Even darker when clicked */
}

#water{
    position: absolute;
    bottom: 0;
    background-color: lightblue;
    width: 100%;
    height: 50%;
}

#fishing-rod{
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 25%;
    height: 0;
    width: 0;
    border: 1px solid black;
    border-width: 0 0 3px 100px;
    transform: rotate(-30deg); /* default position is straight up */
    transform-origin: 0 100%; /* sets the origin of transformation to the bottom left corner */
}
#fish{
    position:absolute;
    z-index: 2;
}
